# imports
importFrom("utils", "capture.output")
importFrom("stats", "pnorm", "dnorm", "qnorm", "dt", "pt", "qt")
import("nloptr")
# exports
export(cosa.bird2r1)
export(cosa.bird3r1)
export(cosa.bird4r1)
export(cosa.crd2r2)
export(cosa.bcrd3r2)
export(cosa.bcrd4r2)
export(cosa.crd3r3)
export(cosa.bcrd4r3)
export(cosa.crd4r4)
export(mdes.ird1r1)
export(mdes.bird2r1)
export(mdes.bird3r1)
export(mdes.bird4r1)
export(mdes.crd2r2)
export(mdes.bcrd3r2)
export(mdes.bcrd4r2)
export(mdes.crd3r3)
export(mdes.bcrd4r3)
export(mdes.crd4r4)
export(power.ird1r1)
export(power.bird2r1)
export(power.bird3r1)
export(power.bird4r1)
export(power.crd2r2)
export(power.bcrd3r2)
export(power.bcrd4r2)
export(power.crd3r3)
export(power.bcrd4r3)
export(power.crd4r4)
